<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<head>
	<meta charset="utf-8">
	<title>Board List Partial</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
<f:section name="main">
	<f:if condition="{boards}">
		<ol class="bords">
			<f:for each="{boards}" as="board">
				<li>
					<h3>
						<f:link.action controller="Thread" action="list" arguments="{board : board}">
							{board.title}
						</f:link.action>
					</h3>
					<div>{board.description}</div>
					<div>
						<f:link.action action="edit" arguments="{board:board}">Edit</f:link.action>
						&nbsp;
						<f:link.action action="delete" arguments="{board:board}">Delete</f:link.action>
					</div>
				</li>
			</f:for>
		</ol>
	</f:if>
</f:section>
</body>
</html>